[data-md-color-scheme="slate"] {
    color-scheme: dark;
    --md-primary-fg-color:        #ffffff;
    --md-primary-fg-color--light: #ff0000;
    --md-primary-fg-color--dark:  #6d0007;
    --md-primary-bg-color:        #1d1d1d;
    --md-primary-bg-color--light: #1d1d1d;

    --md-accent-fg-color: #bb0000;
    --md-accent-fg-color--transparent: #68000088;
    --md-accent-bg-color: #bb0000;
    --md-accent-bg-color--light: #bb0000;

    --md-default-fg-color:        #bdbdbd;
    --md-default-fg-color--light: #dadada;
    --md-default-fg-color--dark:  #6d0007;
    --md-default-bg-color:        #141414;
    --md-default-bg-color--light: #141414;
    --md-default-bg-color--lighter: #ffffff;
    --md-default-bg-color--lightest: #ffffff;

    .md-typeset h1{
      font-size: 3em;
      }

    .md-typeset h2 {
      font-size: 1.4;
      line-height: 1.4;
      margin: 1.6em 0 .64em
      }

    .md-typeset h1,.md-typeset h2 {
      font-weight: 300;
      letter-spacing: -.04em
      }

    .md-typeset {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      font-size: .7rem;
      line-height: 1.6
        }
    .md-typeset a {
          color: #e0e0e0;
          word-break: break-word
      }
    .md-typeset a:hover {
        color: #bb0000;
        word-break: break-word
    }
  }